<!Doctype html>
{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<title>Recetario MDW - {% block titulo %}{% endblock %}</title>
	<link rel='stylesheet' href='{% static "css/base.css" %}'>
	<link rel='shortcut icon'  href='{% static "img/icono.png" %}'>
	<style type="text/css">{% block style_css %}{% endblock %}</style>
	
	<script src='{% static "js/jquery-1.7.2.mini.js" %}'></script>
	<script src='{% static "js/demo.js" %}'></script>
</head>
<body>
	<header>
		{% block encabezado %}{% endblock %}
		<nav>
			<ul id='menu'>
				<li><a href="/">Inicio</a></li>
				<li><a href="/usuarios">Usuarios</a></li>
				<li><a href="/recetas">Recetas</a></li>
				<li><a href="/sobre">Sobre</a></li>
				<li><a href="/contacto">Contacto</a></li>
				<li><a href="/receta/nueva">Agregar Receta</a></li>
				<li><a href="/comenta/">Agregar Comentario</a></li>
				<li><a href="/usuario/nuevo/">Agregar usuario</a></li>
			</ul>
		</nav>
		<hr>
	</header>
	<section id="contenido">
		{% block contenido %}{% endblock %}
	</section>
	<footer>
		<p>Proyecto de pureba de mestro del web &copy; 2013</p>
	</footer>
</body>
</html>
